{% extends 'Meetings_App/base.html' %}
{% load static %}

{% block title %}Meeting Analytics{% endblock %}

{% block content %}
<!-- Main landing page content -->
<div class="home-container">

    <h1 class="home-title">Meeting Analytics System</h1>

    <!-- Introductory description of the system -->
    <p class="home-subtitle">
        Explore structured meeting data, identify high-risk participants,
    and gain insights into observer behavior through interactive analysis.
    </p>

    <a href="{% url 'analysis' %}" class="hero-button">View Analysis</a>

    <img class="home-image" src="{% static 'Meetings_App/abstract_data.jpg' %}" alt="Abstract Data">

</div>
{% endblock %}